/*轮播*/

.lb_gl {
    margin-bottom: 30px;
    background-size: 100% 100%;
    height: 350px;
}

.container {
    margin: 0 auto;
    position: relative;
}

.pictureSlider {
    height: 350px;
    margin-bottom: 24px;
}

.poster-item {
    background: #fff;
    height: 350spx;
    width: 336px;
    transition: all 0.5s;
    cursor: default;
    -moz-transition: all 0.5s;
    cursor: default;
    -webkit-transition: all 0.5s;
    cursor: default;
    -o-transition: all 0.5s;
    cursor: default;
}